.idea/.idea.Ski_App_Service/.idea/contentModel.xml
.idea/.idea.Ski_App_Service/.idea/indexLayout.xml
.idea/.idea.Ski_App_Service/.idea/modules.xml
.idea/.idea.Ski_App_Service/.idea/projectSettingsUpdater.xml
.idea/.idea.Ski_App_Service/.idea/vcs.xml
.idea/.idea.Ski_App_Service/.idea/workspace.xml
.idea/.idea.Ski_App_Service/.idea/codeStyles/codeStyleConfig.xml
.vs/Ski_App_Service/xs/UserPrefs.xml
.vs/Ski_App_Service/xs/project-cache/Ski_App_Application-Debug.json
.vs/Ski_App_Service/xs/project-cache/Ski_App_Repositories-Debug.json
.vs/Ski_App_Service/xs/project-cache/Ski_App_Service-Debug.json
