.idea/.idea.Ski_App_Service/.idea/contentModel.xml
.idea/.idea.Ski_App_Service/.idea/indexLayout.xml
.idea/.idea.Ski_App_Service/.idea/modules.xml
.idea/.idea.Ski_App_Service/.idea/projectSettingsUpdater.xml
.idea/.idea.Ski_App_Service/.idea/vcs.xml
.idea/.idea.Ski_App_Service/.idea/workspace.xml
.idea/.idea.Ski_App_Service/.idea/codeStyles/codeStyleConfig.xml
.vs/Ski_App_Service/xs/UserPrefs.xml
.vs/Ski_App_Service/xs/project-cache/Ski_App_Application-Debug.json
.vs/Ski_App_Service/xs/project-cache/Ski_App_Repositories-Debug.json
.vs/Ski_App_Service/xs/project-cache/Ski_App_Service-Debug.json
Ski_App_Serivces_Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Newtonsoft.Json.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/NuGet.Frameworks.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Ski_App_Serivces_Tests.deps.json
Ski_App_Serivces_Tests/bin/Debug/net5.0/Ski_App_Serivces_Tests.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/Ski_App_Serivces_Tests.pdb
Ski_App_Serivces_Tests/bin/Debug/net5.0/Ski_App_Serivces_Tests.runtimeconfig.dev.json
Ski_App_Serivces_Tests/bin/Debug/net5.0/Ski_App_Serivces_Tests.runtimeconfig.json
Ski_App_Serivces_Tests/bin/Debug/net5.0/testhost.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/xunit.abstractions.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/xunit.assert.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/xunit.core.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/xunit.execution.dotnet.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/xunit.runner.reporters.netcoreapp10.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/xunit.runner.utility.netcoreapp10.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ref/Ski_App_Serivces_Tests.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Ski_App_Serivces_Tests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Ski_App_Serivces_Tests/obj/project.assets.json
Ski_App_Serivces_Tests/obj/project.nuget.cache
Ski_App_Serivces_Tests/obj/project.packagespec.json
Ski_App_Serivces_Tests/obj/rider.project.restore.info
Ski_App_Serivces_Tests/obj/Ski_App_Serivces_Tests.csproj.nuget.dgspec.json
Ski_App_Serivces_Tests/obj/Ski_App_Serivces_Tests.csproj.nuget.g.props
Ski_App_Serivces_Tests/obj/Ski_App_Serivces_Tests.csproj.nuget.g.targets
Ski_App_Serivces_Tests/obj/TestProject1.csproj.nuget.dgspec.json
Ski_App_Serivces_Tests/obj/TestProject1.csproj.nuget.g.props
Ski_App_Serivces_Tests/obj/TestProject1.csproj.nuget.g.targets
Ski_App_Serivces_Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.AssemblyInfo.cs
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.AssemblyInfoInputs.cache
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.assets.cache
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.csproj.CopyComplete
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.csproj.CoreCompileInputs.cache
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.csproj.FileListAbsolute.txt
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.csprojAssemblyReference.cache
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.dll
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.GeneratedMSBuildEditorConfig.editorconfig
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.genruntimeconfig.cache
Ski_App_Serivces_Tests/obj/Debug/net5.0/Ski_App_Serivces_Tests.pdb
Ski_App_Serivces_Tests/obj/Debug/net5.0/TestProject1.AssemblyInfo.cs
Ski_App_Serivces_Tests/obj/Debug/net5.0/TestProject1.AssemblyInfoInputs.cache
Ski_App_Serivces_Tests/obj/Debug/net5.0/TestProject1.assets.cache
Ski_App_Serivces_Tests/obj/Debug/net5.0/TestProject1.csprojAssemblyReference.cache
Ski_App_Serivces_Tests/obj/Debug/net5.0/TestProject1.GeneratedMSBuildEditorConfig.editorconfig
Ski_App_Serivces_Tests/obj/Debug/net5.0/ref/Ski_App_Serivces_Tests.dll
Ski_App_Service_Tests/obj/project.assets.json
Ski_App_Service_Tests/obj/project.nuget.cache
Ski_App_Service_Tests/obj/project.packagespec.json
Ski_App_Service_Tests/obj/Ski_App_Service_Tests.csproj.nuget.dgspec.json
Ski_App_Service_Tests/obj/Ski_App_Service_Tests.csproj.nuget.g.props
Ski_App_Service_Tests/obj/Ski_App_Service_Tests.csproj.nuget.g.targets
Ski_App_Service_Tests/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Ski_App_Service_Tests/obj/Debug/net48/Ski_App_Service_Tests.assets.cache
Ski_App_Service_Tests/obj/Debug/net48/Ski_App_Service_Tests.csproj.FileListAbsolute.txt
